<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Mandatory permissions-->
    <uses-permission
        android:name="android.permission.VIBRATE"
        tools:node="merge" />

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="merge" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:node="merge" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        tools:node="merge" />


    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="n"
        tools:replace="android:allowBackup" >

        <meta-data
            android:name="main_folder_name"
            android:value="Kommunicate"
            tools:node="merge" />

        <service
            android:name=".devkit.api.conversation.MessageIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:node="merge" />
        <service
            android:name=".devkit.api.conversation.ChatIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:node="merge" />
        <service
            android:name=".devkit.api.conversation.MqttIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:node="merge" />
        <service
            android:name=".devkit.api.people.UserIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:node="merge" />

        <service
            android:name=".devkit.api.conversation.ConversationIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:node="merge" />

        <receiver
            android:name=".devkit.broadcast.TimeChangeBroadcastReceiver"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".devkit.broadcast.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="activity.open.on.notification"
            android:value="io.kommunicate.ui.R.conversation.activity.ConversationActivity" />

        <meta-data
            android:name="com.package.name"
            android:value="${applicationId}" />

        <meta-data
            android:name="com.applozic.server.url"
            android:value="https://chat.kommunicate.io" />

        <meta-data
            android:name="com.applozic.mqtt.server.url"
            android:value="tcp://socket.kommunicate.io:1883" />

        <meta-data
            android:name="com.applozic.mobicomkit.notification.tone"
            android:value="eventually" />


        <meta-data android:name="io.sentry.dsn" android:value="${SENTRY_DSN}" />
        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />
        <meta-data android:name="io.sentry.attach-screenshot" android:value="true" />
        <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="true" />
    </application>
</manifest>
