<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.kommunicate.app">

    <uses-permission android:name="io.kommunicate.app.permission.MAPS_RECEIVE" />
    <permission
        android:name="io.kommunicate.app.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />



        <!--Permissions to be used when using these features-->
        <uses-permission
            android:name="android.permission.CAMERA"
            tools:node="merge" />

    <!--Storage Permission required for API >= 33 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage"
        tools:node="merge" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:node="merge" />
        <uses-permission
            android:name="android.permission.RECORD_AUDIO"
            tools:node="merge" />
        <uses-permission
            android:name="android.permission.ACCESS_COARSE_LOCATION"
            tools:node="merge" />
        <uses-permission
            android:name="android.permission.ACCESS_FINE_LOCATION"
            tools:node="merge" />

    <application
        android:name="kommunicate.io.sample.KommunicateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_without_shape"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/ApplozicTheme">
        <activity
            android:name="kommunicate.io.sample.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/ApplozicTheme" />

        <activity
            android:name="kommunicate.io.sample.SplashScreenActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/ApplozicTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDHQzh-cDfo-aY9_Q1fZFiZtaurg57eY7k" />

        <service
            android:name="kommunicate.io.sample.pushnotification.FcmListenerService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--<meta-data
            android:name="com.applozic.server.url"
            android:value="https://chat-test.kommunicate.io"
            tools:node="replace"/>

        <meta-data
            android:name="io.kommunicate.server.url"
            android:value="https://api-test.kommunicate.io"
            tools:node="replace"/>-->

<!--        <meta-data-->
<!--            android:name="com.applozic.mobicomkit.notification.iconColor"-->
<!--            android:resource="@color/colorPrimary">-->
<!--        </meta-data>-->

    </application>

</manifest>
