<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.kommunicate.app">

    <uses-permission android:name="io.kommunicate.app.permission.MAPS_RECEIVE" />
    <permission
        android:name="io.kommunicate.app.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:name="kommunicate.io.sample.KommunicateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_without_shape"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_with_shape"
        android:supportsRtl="true"
        android:theme="@style/ApplozicTheme">
        <activity
            android:name="kommunicate.io.sample.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/ApplozicTheme" />
        <activity
            android:name="io.kommunicate.activities.KMConversationActivity"
            android:configChanges="keyboardHidden|screenSize|locale|smallestScreenSize|screenLayout|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ApplozicTheme" />

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ChannelNameActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/ApplozicTheme" />

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.ChannelInfoActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/ApplozicTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.kommunicate.activities.KMConversationActivity" />
        </activity>

        <activity
            android:name="com.applozic.mobicomkit.uiwidgets.conversation.activity.MobicomLocationActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:parentActivityName="io.kommunicate.activities.KMConversationActivity"
            android:theme="@style/ApplozicTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="kommunicate.io.sample.SplashScreenActivity"
            android:launchMode="singleTask"
            android:theme="@style/ApplozicTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAv1wf5eMyErPaU3l8EnMUmOsoYJ2joC70" />


        <service
            android:name="kommunicate.io.sample.pushnotification.FcmListenerService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="kommunicate.io.sample.pushnotification.FcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--<meta-data
            android:name="com.applozic.server.url"
            android:value="https://apps-test.applozic.com" />-->

    </application>

</manifest>